.MainFlex {
    text-align: center;
    min-height: 100vh;
    display: flex;

}

.myApp {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.testView {
    background-image: url("../assets/img/background1.jpeg");
    /*background-image: url("https://wallpapercave.com/wp/wp7134573.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    height: 100px;
}

.circular--portrait {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 80%;
}

.circular--portrait img {
    width: 100%;
    height: fit-content;
}

.dog--circular--portrait {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 80%;

}

.dog--circular--portrait img {
    width: 100%;
    height: fit-content;
}

.ownerbackground{
    background-image: url("https://www.cutoutpeople.com/media/cache/full_thumb/th/5c/88/92/5c8892b9c0154541810867.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}



